@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Maler;
  src: url("/Maler.ttf");
}

@font-face {
  font-family: Asap;
  src: url("/Asap-VariableFont_wght.ttf");
}

.blog-container h1 {
  @apply text-3xl mb-2;
}

.blog-container a {
  @apply text-fuchsia-300 underline;
}

.blog-container p {
  @apply mb-4 text-lg;
}
