@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Maler;
  src: url("/Maler.ttf");
}

@font-face {
  font-family: Asap;
  src: url("/Asap-VariableFont_wght.ttf");
}

.blog-container h1 {
  @apply text-3xl mb-2 mt-6 border-b-2 border-fuchsia-400;
}

.blog-container a {
  @apply text-fuchsia-300 underline;
}

.blog-container p {
  @apply text-left mb-2 text-lg;
}

.blog-container pre {
  @apply bg-black;
}

.blog-container pre code {
  @apply w-full whitespace-pre-wrap;
}
